{% extends 'shared.html' %}
{% load static %}
{% block title %}study Buddies{% endblock %}
{% block content %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
      </button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
{% for item in obj %}
  <div class="row mb-5">
    <div class="col-md">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
  
            <img class="card-img card-img-left" src="{{item.user_general_additional_info.profile_picture.url}}" alt="{{item.get_full_name}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.get_full_name|title}}</h5>
              <div class="row">
                <div class="col-md-4">Time Zone : {{item.user_general_additional_info.time_zone}} </div>
                <div class="col-md-4">Availability:  {{item.user_candidate_additional_info.availability}}</div>
                <div class="col-md-4">Exam Date: {{item.user_candidate_additional_info.exam_date}} </div>
              </div>
            <div class="row">
              
            </div>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
{% endblock %}