{% extends 'auth_shared.html' %}
{% load static %}
{% block title %}Coach Preview{% endblock %}
{% block content %}
<div class="container-xxl container-p-y" style="text-align: center;">
    <div class="misc-wrapper">
      <h2 class="mb-2 mx-2">Account under review</h2>
      <p class="mb-4 mx-2">Hi <b>{{request.user.get_full_name|title}}</b> 🙂, we will notify you via email ({{request.user.username}}) once your account is verified.</p>
      <a href="{% url 'logout' %}" class="btn btn-primary">leave site</a>
      <div class="mt-3">
        <img src="{% static 'assets/img/illustrations/page-misc-error-light.png' %}" alt="page-misc-error-light" width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png" data-app-light-img="illustrations/page-misc-error-light.png">
      </div>
    </div>
  </div>
{% endblock %}