{% extends 'auth_shared.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner">
  <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a href="/" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">
              <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo" style="max-width: 300px;">
      
            </span>
          </a>
        </div>
        <!-- /Logo -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h4 class="mb-2 text-center">Welcome!</h4>
        <p class="mb-4 text-center">Please sign-in to your account</p>

        <form class="mb-3" action="{% url 'accounts:login' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="username" placeholder="Enter your email" autofocus="">
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Password</label>
              <a href="/">
                <small>Forgot Password?</small>
              </a>
            </div>
            <div class="input-group input-group-merge">
              <input type="password" id="password-id" class="form-control" name="password" placeholder="············" aria-describedby="password">
              <span class="input-group-text cursor-pointer" onclick="togglePassword()" id="eye"><i class="bx bx-hide"></i></span>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember-me">
              <label class="form-check-label" for="remember-me"> Remember Me </label>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
          </div>
        </form>

        <p class="text-center">
          <span>New on our platform?</span>
          <a href="{% url 'accounts:register' %}">
            <span>Create an account</span>
          </a>
        </p>
      </div>
  </div>
</div>
</div>
{% endblock %}
{% block js %}
<script>
  function togglePassword() {
    var passwordInput = document.getElementById("password-id");
    let eye = document.getElementById("eye")
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eye.innerHTML = '<i class="bx bx-show"></i>'
    } else {
      passwordInput.type = "password";
      eye.innerHTML = '<i class="bx bx-hide"></i>'
    }
  }
</script>
{% endblock %}