{% extends 'shared.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
      <li class="breadcrumb-item">
        <a href="{% url 'accounts:redirect_logged' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Profile Dashboard</li>
    </ol>
  </nav>
  <div class="row">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible col-md-12" role="alert">
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
      </button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bx bx-bell me-1"></i> Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bx bx-link-alt me-1"></i> Change Password</a>
      </li>
    </ul>
    <div class="card mb-4">
      <h5 class="card-header">Profile Details</h5>
      <!-- Account -->
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
            {% if obj.user_general_additional_info.profile_picture %}
          <img src="{{obj.user_general_additional_info.profile_picture.url}}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
          {% else %}
          <img src="{% static 'assets/img/placeholder.jpg' %}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
          {% endif %}
          <div class="button-wrapper">
            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
              <span class="d-none d-sm-block">Upload new photo</span>
              <i class="bx bx-upload d-block d-sm-none"></i>
              <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
            </label>
            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Reset</span>
            </button>

            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body">
       
        <div class="row">

            <div class="col-md-4">
                <div class="card-subtitle text-muted mb-3">FULL NAME</div>
                <h5 class="card-title">{{obj.get_full_name|title}}</h5>
               
            </div>
            <div class="col-md-4">
                <div class="card-subtitle text-muted mb-3">E-MAIL</div>
                <h5 class="card-title">{{obj.email}}</h5>
            </div>
            <div class="col-md-4">
                <div class="card-subtitle text-muted mb-3">DATE JOINED</div>
                <h5 class="card-title">{{obj.date_joined}}</h5>
            </div>
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      {% if not request.user.is_admin %}
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">GENDER</div>
                <h5 class="card-title">{{obj.user_general_additional_info.gender|title}}</h5>  
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">PROFILE</div>
                <h5 class="card-title">{{obj.user_general_additional_info.phone_number}}</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">TIMEZONE</div>
                <h5 class="card-title">{{obj.user_general_additional_info.time_zone}}</h5>
            </div>
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
      </div>  
      {% if request.user.is_candidate %}   
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">EXAM DATE</div> 
                <h5 class="card-title">{{obj.user_candidate_additional_info.exam_date}}</h5>  
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">AVAILABILITY</div>
                <h5 class="card-title">{{obj.user_candidate_additional_info.availability}}</h5>
            </div>
            <div class="col-md-4 col-sm-6">
          
            </div>
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      {% endif %}
      {% if request.user.is_coach %}
      <hr class="my-0">
      <div class="card-body">
       
        <div class="row">
            {% for item in obj.user_education.all %}
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">NAME OF INSTUTION</div>
                <h5 class="card-title">{{item.name_of_instutution|title}}</h5>  
            </div>
    
            <div class="col-md-4 col-sm-6">
                <div class="card-subtitle text-muted mb-3">FROM - TO</div>
                <h5 class="card-title">{{item.period_from}} - {{item.period_to}}</h5>
            </div>
            <div class="col-md-4 col-sm-6">

            </div>
           
            {% endfor %}
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
  
       
      </div>
      <hr class="my-0">
      <div class="card-body">
       
        <div class="row">
            {% for item in obj.user_work_experience.all %}
            <div class="col-md-3 col-sm-6">
                <div class="card-subtitle text-muted mb-3">NAME OF HOSPITAL</div>
                <h5 class="card-title">{{item.name_of_hospital|title}}</h5>  
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card-subtitle text-muted mb-3">COUNTRY</div>
                <h5 class="card-title">{{item.country_of_hospital|title}}</h5>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card-subtitle text-muted mb-3">POSITION</div>
                <h5 class="card-title">{{item.position_at_the_hospital|title}}</h5>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card-subtitle text-muted mb-3">FROM - TO</div>
                <h5 class="card-title">{{item.period_from}} - {{item.period_to}}</h5>
            </div>
            {% endfor %}
            <div class="col-md-12">
                <a href="javascript:void(0)" class="card-link">Edit</a>
            </div>
        </div>
  
       
      </div>
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card-subtitle text-muted mb-3">DESCRIPTION</div>
                <h5 class="card-title">{{obj.user_motivation.description|title}}</h5>  
            </div>
      
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card-subtitle text-muted mb-3">CURRICULUM VITAE (CV) </div>
                <h5 class="card-title"><a href="{{obj.user_coach_additional_info.cv.url}}" target="_blank"> Download/View <i class="bx bxs-file-pdf me-1"></i></a> </h5>  
            </div>
            <div class="col-md-6">
                <div class="card-subtitle text-muted mb-3">NHS EXPERIENCE</div>
                <h5 class="card-title">{{obj.user_coach_additional_info.nhs_experience}}</h5>  
            </div>
      
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      {% endif %}
      <!-- /Account -->
    </div>
    <div class="card">
      <h5 class="card-header">Delete Account</h5>
      <div class="card-body">
        <div class="mb-3 col-12 mb-0">
          <div class="alert alert-warning">
            <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
            <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
          </div>
        </div>
        <form id="formAccountDeactivation" onsubmit="return false">
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation">
            <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
          </div>
          <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>

 


</div>
{% endblock %}