{% extends 'shared.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
      <li class="breadcrumb-item">
        <a href="{% url 'accounts:redirect_logged' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Profile Dashboard</li>
    </ol>
  </nav>
  <div class="row">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible col-md-12" role="alert">
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
      </button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Account</a>
      </li>
  
    </ul>
    <div class="card mb-4">
      <h5 class="card-header">Profile Details</h5>
      <!-- Account -->
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          {% if obj.user_general_additional_info.profile_picture %}
          <img src="{{obj.user_general_additional_info.profile_picture.url}}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
          {% else %}
          <img src="{% static 'assets/img/placeholder.jpg' %}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
          {% endif %}
          <div class="button-wrapper">
            {% if not request.user.is_admin %}
            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
              <a href="{% url 'accounts:upload_profile_picture' %}">
                <span class="d-none d-sm-block" style="color: #fff;">Upload new photo</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
              </a>
            
            </label>
            {% endif %}
            <a href="{% url 'accounts:change_password' %}" class="btn btn-outline-secondary account-image-reset me-2 mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Change Password</span>
            </a>
            {% if request.user.is_coach %}
            <a href="{% url 'offers:offers' %}" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Offers</span>
            </a>
            {% endif %}
            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body">
       
        <div class="row">

            <div class="col-md-4">
              <h5 class="card-title text-muted mb-3">Full name</h5>
                <h6 class="card-title">{{obj.get_full_name|title}}</h6>
               
            </div>
            <div class="col-md-4">
              <h5 class="card-title text-muted mb-3">Email</h5>
                <h6 class="card-title">{{obj.email}}</h6>
            </div>
            <div class="col-md-4">
              <h5 class="card-title text-muted mb-3">Date joined</h5>
                <h6 class="card-title">{{obj.date_joined}}</h6>
            </div>
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      {% if not request.user.is_admin %}
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">Gender</h5>
                <h6 class="card-title">{{obj.user_general_additional_info.gender|title}}</h6>  
            </div>
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">Profile</h5>
                <h6 class="card-title">{{obj.user_general_additional_info.phone_number}}</h6>
            </div>
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">Timezone</h5>
                <h6 class="card-title">{{obj.user_general_additional_info.time_zone}}</h6>
            </div>
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
      </div>  
      {% if request.user.is_candidate %}   
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">Exam date</h5>
                <h6 class="card-title">{{obj.user_candidate_additional_info.exam_date}}</h6>  
            </div>
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">Availability</h5>     
                <h6 class="card-title">{{obj.user_candidate_additional_info.availability}}</h6>
            </div>
            <div class="col-md-4 col-sm-6">
          
            </div>
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      {% endif %}
      {% if request.user.is_coach %}
      <hr class="my-0">
      <div class="card-body">
       
        <div class="row">
            {% for item in obj.user_education.all %}
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">Name of institution</h5>   
                <h6 class="card-title">{{item.name_of_instutution|title}}</h6>  
            </div>
    
            <div class="col-md-4 col-sm-6">
              <h5 class="card-title text-muted mb-3">From - To</h5>  
                <h6 class="card-title">{{item.period_from}} - {{item.period_to}}</h6>
            </div>
            <div class="col-md-4 col-sm-6">

            </div>
           
            {% endfor %}
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
  
       
      </div>
      <hr class="my-0">
      <div class="card-body">
       
        <div class="row">
            {% for item in obj.user_work_experience.all %}
            <div class="col-md-3 col-sm-6">
              <h5 class="card-title text-muted mb-3">Name of hospital</h5>  
                <h6 class="card-title">{{item.name_of_hospital|title}}</h6>  
            </div>
            <div class="col-md-3 col-sm-6">
              <h5 class="card-title text-muted mb-3">Country</h5>  
                <h6 class="card-title">{{item.country_of_hospital|title}}</h6>
            </div>
            <div class="col-md-3 col-sm-6">
              <h5 class="card-title text-muted mb-3">Position</h5>  
                <h6 class="card-title">{{item.position_at_the_hospital|title}}</h6>
            </div>
            <div class="col-md-3 col-sm-6">
              <h5 class="card-title text-muted mb-3">From - To</h5>  
                <h6 class="card-title">{{item.period_from}} - {{item.period_to}}</h6>
            </div>
            {% endfor %}
            <div class="col-md-12">
                <a href="javascript:void(0)" class="card-link">Edit</a>
            </div>
        </div>
  
       
      </div>
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
              <h5 class="card-title text-muted mb-3">Description</h5>  
                <h6 class="card-title">{{obj.user_motivation.description|safe|title}}</h6>  
            </div>
      
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      <hr class="my-0">
      <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title text-muted mb-3">Curriculum Vitae (CV)</h5>  
                <h6 class="card-title"><a href="{{obj.user_coach_additional_info.cv.url}}" target="_blank"> Download/View <i class="bx bxs-file-pdf me-1"></i></a> </h6>  
            </div>
            <div class="col-md-6">
                <h5 class="card-title text-muted mb-3">NHS experience</h5>  
                <h6 class="card-title">{{obj.user_coach_additional_info.nhs_experience}}</h6>  
            </div>
      
            <div class="col-md-12">
                <a href="#" class="card-link">Edit <i class="bx bx-edit-alt me-1"></i></a>
            </div>
        </div>
    
       
      </div>
      {% endif %}
      <!-- /Account -->
    </div>
    <div class="card">
      <h5 class="card-header">Delete Account</h5>
      <div class="card-body">
        <div class="mb-3 col-12 mb-0">
          <div class="alert alert-warning">
            <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
            <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
          </div>
        </div>
        <form action="{% url 'accounts:activate_or_deactivate_account' obj.id %}">
          {% csrf_token %}
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" onchange="document.getElementById('acc').disabled = !this.checked;">
            <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
          </div>
          <button type="submit" class="btn btn-danger deactivate-account" id="acc" disabled>Deactivate Account</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>

 


</div>
{% endblock %}