{% extends 'shared.html' %}
{% load static %}
{% block title %}Update Exam Date & Availability{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a href="{% url 'accounts:redirect_logged' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'accounts:profile' %}">Profile</a>
        </li>

        <li class="breadcrumb-item active">Update Exam Date & Availability</li>
    </ol>
</nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            Update Exam Date & Availability
        </h5>
        <small class="text-muted float-end">Profile</small>
    </div>
    <div class="card-body">
        {% if form.errors %}
        <div class="mb-2">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <form action="{% url 'accounts:update_exam_date_and_availability' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.exam_date|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.availability|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <a href="{% url 'accounts:profile' %}" class="btn btn-warning">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}