{% extends 'shared.html' %}
{% load static %}
{% block title %}Users{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style1">
    <li class="breadcrumb-item">
      <a href="{% url 'accounts:redirect_logged' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Users</li>
  </ol>
</nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="mb-4">
<a href="{% url 'accounts:add_admin' %}" class="btn btn-primary">
  <span class="tf-icons bx bx-plus"></span>&nbsp; Add Admin
</a>
</div>
<div class="card p-3">
  <div class="table-responsive text-nowrap">
    <table class="table" id="users">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Role</th>
          <th>Created</th>
          <th>Account Status</th>
          <th>Application Status</th>
         
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for user in users %}
        <tr>
          <td><a href="{% url 'accounts:admin_profile' user.id %}">{{user.get_full_name|title}}</a></td>
          <td>
            <strong>
              {% if user.is_admin %}
              Admin
              {% endif %}
              {% if user.is_candidate %}
              Candidate
              {% endif %}
              {% if user.is_coach %}
              Coach
              {% endif %}
            </strong>
          </td>
          <td>
            {{user.date_joined}}
          </td>
          <td>
            {% if user.is_active %}
            <a href="{% url 'accounts:activate_or_deactivate_account' user.id %}"><span class="badge bg-label-success me-1">Deactivate</span></a> 
            {% else %}
            <a href="{% url 'accounts:activate_or_deactivate_account' user.id %}"><span class="badge bg-label-danger me-1">Activate</span></a>
            {% endif %}
          </td>
          <td>
            {% if user.is_coach %}
            {% if user.account_status == 'accepted' %}
            <span class="badge bg-label-success me-1">Accepted</span>
            {% elif user.account_status == 'pending' %}
            <span class="badge bg-label-warning me-1">Pending</span>
            {% else %}
            <span class="badge bg-label-danger me-1">Rejected</span>
            {% endif %}
            {% else %}
            ----
            {% endif %}
          </td>
    
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% endblock %}

{% block js %}
<script>
  let table = new DataTable('#users');
</script>

{% endblock %}

