.c-font-size{
    font-size: 3em;
}
.conra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.detail-list-rating i {
    color: #ffc107;
}
.commented .comm-inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.table-responsive {
    overflow-x: inherit;
}

.form-check-input {
    border: 1px solid #ff3e1d !important;
   
}
/* .admin-profile th {
    padding: 0.625rem 0;
} */

.img-image{
    height:250px;
    width:100%;
    object-fit:cover; 
    object-position: 100% 0;
}

.nav-align-top > .tab-content, .nav-align-right > .tab-content, .nav-align-bottom > .tab-content, .nav-align-left > .tab-content {
    box-shadow: none;
    background: transparent;
}
.tab-content {
    padding: 1.5em 0;
    border-radius: 0.375rem;
}
.scrollable-div {
    width: 100%;
    overflow: auto;
}

