{% extends 'shared.html' %}
{% load static %}
{% block title %}study Buddies{% endblock %}
{% block content %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
      </button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <div class="row mb-3">
    <form action="{% url 'study_buddies:view_all_study_buddies' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="time_zone" class="form-label">Time Zone</label>
            <input type="text" id="time_zone" class="form-control" name="time_zone_" list="time_zones">
              <datalist id="time_zones">
                {% for tz in time_zones %}
                <option value="{{tz}}"></option>
                {% endfor %}
              </datalist>      
          </div>
        </div>
        <div class="col-md-3">
        <div id="exam_date" class="mb-3">
            <label for="exam_date" class="form-label"> Exam Date</label>
            <input type="date"  name="exam_date" class="datepicker dateinput form-control" data-date-format="YYYY-MM-DD"  id="exam_date">
        </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="availability" class="form-label">Availability (hrs/day)</label>
            <input type="number" id="availability" class="form-control" name="availability">
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="mb-3">
            <label for="online_offline" class="form-label">Online Status</label>
            <select id="online_offline" class="form-select" name="online_offline">
              <option value="">Online & Offline</option>
              <option value="Online">Online</option>
              <option value="Offline">Offline</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-2 d-flex flex-column" style="margin-top: auto !important; margin-bottom: 1.1em !important;">
          
          <button type="submit" class="btn btn-primary">
           Find <span class="tf-icons bx bx-search-alt me-1"></span>
          </button>
        </div>
      
      </div>
          
        </form>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="display-6 mb-0" style="color:#0080FF;"><span>{{candidates}} candidates available </span></h1>
      {% if type == 1 %}
      <br>
      <span>
        <i>Search Results for >></i> 
        {% if time_zone %}
          Time zone: <b>{{time_zone}} </b>
        {% endif %}
        {% if exam_date %}
          Exam date: <b>{{exam_date}}</b>
        {% endif %}
        {% if availability %}
          Availability : <b>{{availability}} hrs/day</b>
        {% endif %}
        <a href="{% url 'study_buddies:view_all_study_buddies' %}"><span class="tf-icons bx bx-x me-1" style="color: red; font-size: 30px;"></span></a>
        </span>
        {% endif %}
    </div>
  </div>
{% for item in obj %}
  <div class="row mb-5">
 
    <div class="col-md">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3">
            <a href="{% url 'accounts:public_profile' item.id %}">
            <img class="card-img card-img-left" src="{{item.user_general_additional_info.profile_picture.url}}" alt="{{item.get_full_name}}" style="height:250px;width:100%;object-fit:cover; object-position: 100% 0;">
          </a>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{item.get_full_name|title}}</h5>
              <div class="row">
                <div class="col-md-4">Time Zone : {{item.user_general_additional_info.time_zone}} </div>
                <div class="col-md-4">Availability:  {{item.user_candidate_additional_info.availability}} hrs/day</div>
                <div class="col-md-4">Exam Date: {{item.user_candidate_additional_info.exam_date}} </div>
              </div>
            <div class="row mt-3">
              <div class="col-md-4 col-xl-4">
                <div class="card shadow-none bg-transparent border border-info mb-3">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{item.meetings_attended}}</h5>
                    <p class="card-text"><a href="">Meetings</a> </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xl-4">
                <div class="card shadow-none bg-transparent border border-info mb-3">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{item.reliability}}%</h5>
                    <p class="card-text"><a href="">Reliability</a> </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xl-4">
                <div class="card shadow-none bg-transparent border border-info mb-3">
                  <div class="card-body text-center">
                    <h5 class="card-title">  {% include 'snippets/ratings.html' with obj=item %}</h5>
                    <p class="card-text"><a href="">Reviews</a></p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
        </span>

        {% if obj.has_next %}
            <a href="?page={{ obj.next_page_number }}">next</a>
            <a href="?page={{ obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}