{% extends 'shared.html' %}
{% load static %}
{% block title %}Candidate Dashboard{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
      <li class="breadcrumb-item">
        <a href="{% url 'accounts:redirect_logged' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Candidate Dashboard</li>
    </ol>
  </nav>


<div class="row">
  {% if messages %}
  {% for message in messages %}
  <div class="col-md-12">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
      {{ message }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
       
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% if was_attended_no > 0 %}
  <div class="col-md-12">
    <div class="alert alert-danger alert-dismissible" role="alert">
      Please confirm attendance for {{was_attended_no}} outstanding meetings <a href="{% url 'meetings:check_if_meeting_occured' %}">view details</a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  </div>
{% endif %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="card-info">
            <p class="card-text">Meeting Board</p>
            <div class="d-flex align-items-end">
              <span class="text-success me-2"><a href="{% url 'meetings:meetings' %}">View</a></span>       
            </div>
          </div>
          <div class="card-icon">
            <a href="{% url 'meetings:meetings' %}">
            <span class="badge bg-label-primary rounded p-2">
              <i class='bx bx-briefcase bx-sm'></i>
            </span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="card-info">
            <p class="card-text">Profile</p>
            <div class="d-flex align-items-end">
              <span class="text-success me-2"><a href="{% url 'accounts:profile' %}">View</a></span>       
            </div>
          </div>
          <div class="card-icon">
            <a href="{% url 'accounts:profile' %}">
            <span class="badge bg-label-primary rounded p-2">
              
              <i class='bx bx-user bx-sm'></i>
            </span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="card-info">
            <p class="card-text">Coaches</p>
            <div class="d-flex align-items-end">
              <span class="text-success me-2"><a href="{% url 'coaches:view_all_coaches' %}">View</a></span>       
            </div>
          </div>
          <div class="card-icon">
            <a href="{% url 'coaches:view_all_coaches' %}">
            <span class="badge bg-label-primary rounded p-2">
              <i class="bx bx-group bx-sm"></i>
            </span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="card-info">
            <p class="card-text">Study Buddies</p>
            <div class="d-flex align-items-end">
              <span class="text-success me-2"><a href="{% url 'study_buddies:view_all_study_buddies' %}">View</a></span>       
            </div>
          </div>
          <div class="card-icon">
            <a href="{% url 'study_buddies:view_all_study_buddies' %}">
            <span class="badge bg-label-primary rounded p-2">
              <i class="bx bx-group bx-sm"></i>
            </span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">
          {% include 'snippets/ratings.html' with obj=request.user %}
        </h5>
        <h5 class="card-title">Your Reviews</h5>
      </div>
    </div>
   </div>
   <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{request.user.reliability|floatformat:0}}%</h5>
          <h5 class="card-title">Your Reliability</h5>
        </div>
      </div>
   </div>
   <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">{{request.user.meetings_attended}}</h5>
        <h5 class="card-title">Meetings</h5>
      </div>
    </div>
 </div>



</div>





{% endblock %}