{% extends 'shared.html' %}
{% load static %}
{% block title %}{{obj.title|title}}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
      <li class="breadcrumb-item">
        <a href="{% url 'accounts:redirect_logged' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'accounts:profile' %}">Profile</a> 
      </li>
      {% if request.user.is_coach %}
      <li class="breadcrumb-item">
        <a href="{% url 'offers:offers' %}">Offers</a>
      </li>
      {% endif %}
      <li class="breadcrumb-item active">{{obj.title|title}}</li>
    </ol>
  </nav>

<div class="card mb-3">


  <div class="row g-0">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
          </button>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-4">
      <img class="card-img card-img-left" src="{{obj.image.url}}" alt="tallu tabis" style="height:260px;width:100%;object-fit:cover; object-position: 100% 0; padding: 1.5em 0 0 1.5em;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{obj.title|title}}</h5>
        <p class="card-text">{{obj.summary|safe}}</p>
        <span>{% include 'snippets/ratings.html' with obj=obj %} {{obj.countReview}} Reviews</span>
        {% if request.user.is_candidate %}
        <div class="mt-3">
            <a href="#" class="btn btn-primary">Request Offer £{{obj.price|floatformat:2}}</a>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- Motivations -->
    
    <div class="col-md-12">
      <div class="card-body">
        <p class="card-text">{{obj.description|safe}}</p>
      </div>
    </div>
    <hr>
    
    <div class="col-md-12">
        <div class="card-body">
          <h3 class="mb-5">{{obj.countReview}} Reviews</h3>
          <div class="row mb-5">
            {% for review in obj.offer_review.all %}
            <ul class="col-12 commented pl-0">
              <li class="comm-inf">

                <div class="col-md-12 comments-info">
                  <div class="conra">
                    <h5 class="mb-2">{{review.timestamp}} by {{review.user.get_full_name|title}}</h5>
                    <div class="rating-box">
                      <div class="detail-list-rating mr-0">
                        <i class="fa fa-star{% if review.rating < 0.5 %}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o {% endif %}"
                          aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating < 1.5 %}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o {% endif %}"
                          aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating < 2.5 %}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o {% endif %}"
                          aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating < 3.5 %}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o {% endif %}"
                          aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating < 4.5 %}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o {% endif %}"
                          aria-hidden="true"></i>
                        {{review.rating}}
                      </div>
                    </div>

                  </div>
                  <!-- <p class="mb-4">{{review.timestamp}}</p> -->
                  <p>{{review.review}}</p>

                </div>
              </li>

            </ul>
            {% empty %}
            <h5>No reviews</h5>
            {% endfor %}
          </div>
        </div>

      </div>
      {% if request.user.is_candidate %}
    <hr>
    <div class="col-md-12">

      <div class="card-body">
        <!-- Leave Rating -->
        <h3 class="mb-3">Add Review</h3>
        <span>Your rating for this  Product </span>
        <form action="{% url 'review_ratings:create_offer_review' obj.id %}" method="POST">
         {% csrf_token %}
          <div class="clearfix"></div>

          <!-- Rating stars -->
          <div class="rate">
            <input type="radio" name="rating" id="rating10" value="5"><label for="rating10" title="5"></label>
            <input type="radio" name="rating" id="rating9" value="4.5"><label for="rating9" title="4.5" class="half"></label>
            <input type="radio" name="rating" id="rating8" value="4"><label for="rating8" title="4"></label>
            <input type="radio" name="rating" id="rating7" value="3.5"><label for="rating7" title="3.5" class="half"></label>
            <input type="radio" name="rating" id="rating6" value="3"><label for="rating6" title="3"></label>
            <input type="radio" name="rating" id="rating5" value="2.5"><label for="rating5" title="2.5" class="half"></label>
            <input type="radio" name="rating" id="rating4" value="2"><label for="rating4" title="2"></label>
            <input type="radio" name="rating" id="rating3" value="1.5"><label for="rating3" title="1.5" class="half"></label>
            <input type="radio" name="rating" id="rating2" value="1"><label for="rating2" title="1"></label>
            <input type="radio" name="rating" id="rating1" value="0.5"><label for="rating1" title="0.5" class="half"></label>
          </div>
          <div class="clearfix"></div>
          <div class="mb-3">

            <div class="input-group">
              <textarea id="basic-icon-default-message" name="review" class="form-control" placeholder="Review"></textarea>
            </div>

          </div>
          <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
      </div>
    </div>
  {% endif %}
  </div>
</div>

{% endblock %}